@import "./vars.css";

.App {
  background-color: var(--color-bg);
  width: Auto;
  height: 100%;
  /* color: var(--color-text); */
  /* overflow: hidden; */
  margin: solid;
  padding:0 100px;
  
 
}
@media screen and (max-width: 1024px) {
  .App{
    width: auto;
    
  }
}
@media screen and (max-width: 1024px) {
  /* .App{
    width: auto;
  } */
}
