@import "./vars.css";
* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  
  /* font-family: "Outfit", Arial, Helvetica, sans-serif; */
}

/* html {
  scroll-behavior: smooth;
} */

/* .wrapper {
   max-width: 1536px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 80px;
   padding-right: 80px;
} */
/* .content {
  display: flex;
} */
.container{
  overflow: hidden;
}

@media screen and (max-width:1536px) {
  /* .wrapper{
    max-width: 1366px;
  } */
  
}
@media screen and (max-width:1280px) {
  /* .wrapper{
    max-width: 1024px;
  } */
  
}
@media screen and (max-width:1024px) {
  /* .wrapper{
    max-width: 768px;
    padding-left: 40px;
   padding-right: 40px;
  } */
  
}
@media screen and (max-width:768px) {
  /* .wrapper{
    max-width: 640px;
  } */
  
}
@media screen and (max-width:640px) {
  /* .wrapper{
    max-width: 475px;
  } */
  
}